body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #eee;
}

.container {
  margin: 0 auto;
  padding: 24px;
  width: 50%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px #aaa;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  color: rgb(0, 188, 212);
}

p {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.298039);
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin: 0px 8px;
}
